<div>

          <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
          <style type="text/css" media="screen">
            .gr_custom_container_1658130750 {
              /* customize your Goodreads widget container here*/
              border: 1px solid gray;
              border-radius:10px;
              padding: 10px 5px 10px 5px;
              background-color: transparent;
              color: #000000;
              
            }
            .gr_custom_header_1658130750 {
              /* customize your Goodreads header here*/
              border-bottom: 1px solid gray;
              width: 100%;
              margin-bottom: 5px;
              text-align: center;
              font-size: 80%
            }
            .gr_custom_each_container_1658130750 {
              /* customize each individual book container here */
              width: 100%;
              clear: both;
              margin-bottom: 10px;
              overflow: auto;
              padding-bottom: 4px;
              border-bottom: 1px solid #aaa;
            }
            .gr_custom_book_container_1658130750 {
              /* customize your book covers here */
              overflow: hidden;
              height: 160px;
                float: left;
                margin-right: 4px;
                width: 98px;
            }
            .gr_custom_author_1658130750 {
              /* customize your author names here */
              font-size: 10px;
            }
            .gr_custom_tags_1658130750 {
              /* customize your tags here */
              font-size: 10px;
              color: gray;
            }
            .gr_custom_rating_1658130750 {
              /* customize your rating stars here */
              float: right;
            }
          </style>
          
                <div id="gr_custom_widget_1658130750">
                    <div class="gr_custom_container_1658130750">
            
                <div class="gr_custom_each_container_1658130750">
                    <div class="gr_custom_book_container_1658130750">
                      <a title="The Dark Forest (Remembrance of Earth’s Past, #2)" rel="nofollow" href="https://www.goodreads.com/review/show/4820180036?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Dark Forest" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1440156932l/24375664._SX98_.jpg" /></a>
                    </div>
                    <div class="gr_custom_title_1658130750">
                      <a rel="nofollow" href="https://www.goodreads.com/review/show/4820180036?utm_medium=api&amp;utm_source=custom_widget">The Dark Forest</a>
                    </div>
                    <div class="gr_custom_author_1658130750">
                      by <a rel="nofollow" href="https://www.goodreads.com/author/show/5780686.Liu_Cixin">Liu Cixin</a>
                    </div>
                </div>
                <div class="gr_custom_each_container_1658130750">
                    <div class="gr_custom_book_container_1658130750">
                      <a title="The Three-Body Problem (Remembrance of Earth’s Past #1)" rel="nofollow" href="https://www.goodreads.com/review/show/4332509026?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Three-Body Problem" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1415428227l/20518872._SX98_.jpg" /></a>
                    </div>
                    <div class="gr_custom_title_1658130750">
                      <a rel="nofollow" href="https://www.goodreads.com/review/show/4332509026?utm_medium=api&amp;utm_source=custom_widget">The Three-Body Problem</a>
                    </div>
                    <div class="gr_custom_author_1658130750">
                      by <a rel="nofollow" href="https://www.goodreads.com/author/show/5780686.Liu_Cixin">Liu Cixin</a>
                    </div>
                </div>
                <div class="gr_custom_each_container_1658130750">
                    <div class="gr_custom_book_container_1658130750">
                      <a title="Project Hail Mary" rel="nofollow" href="https://www.goodreads.com/review/show/4423800099?utm_medium=api&amp;utm_source=custom_widget"><img alt="Project Hail Mary" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1597695864l/54493401._SX98_.jpg" /></a>
                    </div>
                    <div class="gr_custom_title_1658130750">
                      <a rel="nofollow" href="https://www.goodreads.com/review/show/4423800099?utm_medium=api&amp;utm_source=custom_widget">Project Hail Mary</a>
                    </div>
                    <div class="gr_custom_author_1658130750">
                      by <a rel="nofollow" href="https://www.goodreads.com/author/show/6540057.Andy_Weir">Andy Weir</a>
                    </div>
                </div>
                <div class="gr_custom_each_container_1658130750">
                    <div class="gr_custom_book_container_1658130750">
                      <a title="The Fall of Hyperion (Hyperion Cantos, #2)" rel="nofollow" href="https://www.goodreads.com/review/show/4332369126?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Fall of Hyperion" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1541174620l/77565._SY160_.jpg" /></a>
                    </div>
                    <div class="gr_custom_title_1658130750">
                      <a rel="nofollow" href="https://www.goodreads.com/review/show/4332369126?utm_medium=api&amp;utm_source=custom_widget">The Fall of Hyperion</a>
                    </div>
                    <div class="gr_custom_author_1658130750">
                      by <a rel="nofollow" href="https://www.goodreads.com/author/show/2687.Dan_Simmons">Dan Simmons</a>
                    </div>
                </div>
                <div class="gr_custom_each_container_1658130750">
                    <div class="gr_custom_book_container_1658130750">
                      <a title="Hyperion (Hyperion Cantos, #1)" rel="nofollow" href="https://www.goodreads.com/review/show/3115837024?utm_medium=api&amp;utm_source=custom_widget"><img alt="Hyperion" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1405546838l/77566._SY160_.jpg" /></a>
                    </div>
                    <div class="gr_custom_title_1658130750">
                      <a rel="nofollow" href="https://www.goodreads.com/review/show/3115837024?utm_medium=api&amp;utm_source=custom_widget">Hyperion</a>
                    </div>
                    <div class="gr_custom_author_1658130750">
                      by <a rel="nofollow" href="https://www.goodreads.com/author/show/2687.Dan_Simmons">Dan Simmons</a>
                    </div>
                </div>
                <div class="gr_custom_each_container_1658130750">
                    <div class="gr_custom_book_container_1658130750">
                      <a title="The Theory of Everything: The Origin and Fate of the Universe" rel="nofollow" href="https://www.goodreads.com/review/show/3115859165?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Theory of Everything: The Origin and Fate of the Universe" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1415359670l/449573._SX98_.jpg" /></a>
                    </div>
                    <div class="gr_custom_title_1658130750">
                      <a rel="nofollow" href="https://www.goodreads.com/review/show/3115859165?utm_medium=api&amp;utm_source=custom_widget">The Theory of Everything: The Origin and Fate of the Universe</a>
                    </div>
                    <div class="gr_custom_author_1658130750">
                      by <a rel="nofollow" href="https://www.goodreads.com/author/show/1401.Stephen_Hawking">Stephen Hawking</a>
                    </div>
                </div>
                <div class="gr_custom_each_container_1658130750">
                    <div class="gr_custom_book_container_1658130750">
                      <a title="A Brief History of Time" rel="nofollow" href="https://www.goodreads.com/review/show/3115858602?utm_medium=api&amp;utm_source=custom_widget"><img alt="A Brief History of Time" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1333578746l/3869._SX98_.jpg" /></a>
                    </div>
                    <div class="gr_custom_title_1658130750">
                      <a rel="nofollow" href="https://www.goodreads.com/review/show/3115858602?utm_medium=api&amp;utm_source=custom_widget">A Brief History of Time</a>
                    </div>
                    <div class="gr_custom_author_1658130750">
                      by <a rel="nofollow" href="https://www.goodreads.com/author/show/1401.Stephen_Hawking">Stephen Hawking</a>
                    </div>
                </div>

                

           
            </div>
          
                </div>

</div>