---
layout: default
---
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<div class="post">
  <h1>{{ page.title }}</h1>
  <span class="text-muted">{{ page.date | date: "%d %b, %Y" }}</span>
  {% for tag in page.tags %}
    {% assign tag_name = site.my_tags | where: "slug", tag | map: "name" | first %}
      <a href="{{ 'tags/' | relative_url }}{{ tag }}" title="See all posts with tag '{{ tag_name }}'"><span class="badge post-tags">{{ tag_name }}</span></a>
  {% endfor %}
  <!-- {% capture words %}
      {{ content | number_of_words }}
    {% endcapture %}
    {% unless words contains "-" %}
      {{ words | plus: 250 | divided_by: 250 | append: " min read" }}
    {% endunless %} -->
  <div class="mt-5">{{ content }}</div>
</div>